@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #2edcff;
}

@layer base {
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

@utility fancy-text {
    font-size: 90px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 200;
}